.primary_Btn{
  background-color: black;
  color: white;
  padding: 18px 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  min-width: 220px;
}

.secondary_Btn{
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 18px 10px;;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  min-width: 220px;
}


